<% include ../includes/header.ejs %>

    <!-- FINAL NAV -->
    <div>
        <div class ="container min-container">
            
           <% if(msgErro){ %> 
            <div class="alert alert-danger">
                <%= msgErro %>
            </div>
           <% } %> 
            
            <h2 class="basic-title">Listagem de livros</h2>
            <div class="well">
                <table class="table table-condensed table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <td><a href="">Título</a></td>
                        <td><a href="">Preço</a></td>
                        <td><a href="">Descrição</a></td>
                        <td><a href="">Nova Promoção</a></td>
                    </tr>
                    </thead>
                    <tbody>                   
                      <% livros.map(function(livro, index) { %>
                        <tr>
                            <td><%= livro.titulo %></td>
                            <td><%= livro.preco %></td>
                            <td><p><%= livro.descricao %></p></td>
                            <td>
                                <form action="/promocoes" method="post" style="margin: 0" class="form-promocao">
                                    <input type="hidden" value="<%= livro.titulo %>">
                                    <div class="input-group">
                                        <input class="form-control"type="text" name="msg">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">Ok</button>
                                        </div>
                                    </div>
                                </form><!--
                            --></td>
                        </tr>
                      <% }) %>
                    </tbody>
                </table>
                <a href="/produtos/cadastra" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
            </div>
        </div>
    </div>

<% include ../includes/footer.ejs %>
